
.history-container {
        grid-row: history-s/history-e;
        display: grid;
        grid-template-columns: [button-s] max-content [button-e history-s] 1fr [history-e];
        // grid-template-rows: ;
        column-gap: 20px;
        height: 300px;
        justify-items: center;


        @media screen and (max-width: 850px){
            display: grid;
            grid-template-rows: [button-s] 100px [button-e history-s] 150px [history-e];
            grid-template-columns: 250px;
            transform: translateX(-100px);
        }
    
    .save-calculation-container{
        grid-column: button-s/button-e;
        // grid-row: button-s/button-e;
        margin: 15px;
        height: max-content;


        @media screen and (max-width: 850px){
            grid-row: button-s/button-e;
            grid-column: 1;
        }


        .save-calculation{
            background-color: $oceanBlue;
            font-size: 20px;
            color: white;
            border-radius: 15%;
            padding: 15px;
            border: $oceanBlue 1px solid;
            box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                        2px 2px 6px rgba(0, 0, 0, 0.8),
                        inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                        inset 2px 2px 10px $blueGray; 
        }
    }
}

    .calculation-history{
        grid-column: history-s/history-e;
        overflow: scroll;
        border: 1px solid black;
        width: 250px;


        @media screen and (max-width: 850px){
            grid-row: history-s/history-e;
            grid-column: 1;
        }

        &__item{
            font-size: 15px;
        }
    }

    li {
        display: grid;
        grid-template-columns: [calculation-s] 150px [calculation-e delete-s] 50px [delete-e];

        .calculation-history__item{
            grid-column: calculation-s/calculation-e;
            font-size: 25px;
        }
        a{
            font-size: 13px;
            align-self: center;
            grid-column: delete-s/delete-e;
        }
     }