$oceanBlue: #006994;
$blueGray: #6699CC;
$neonGreen: #39ff14;
$neonRed: #ff1818;
$softPurple: #9170af;
$sunnyYellow: #fbe056;



@import "./history.scss";
@import "./calculator.scss";
@import "./translation.scss";
@import "./userInput.scss";


body{
    background-color: antiquewhite;
    // background-image: ;
}

.app-wrapper{
    display: grid;
    grid-template-columns: [left-s] 2fr [left-e right-s] 1fr [right-s];
    // height: 100%;
    width: 100%;
}


