.userInput{
    grid-row: input-s/input-e;
    // grid-column: left-s/left-e;
    &-form{
        display: grid;
        // width: max-content;
        grid-template-columns: 30px [s] 1fr [m] 1fr [e] 30px;
        justify-items: center;
        column-gap: 50px;

        @media screen and (max-width: 850px){
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            column-gap: 30px;
            // row-gap: 30px;
        }


        &__left-value,
        &__right-value{
            border-radius: 45px;
            box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
            2px 2px 6px rgba(0, 0, 0, 0.8);
            background-color: $oceanBlue;
            // width: 285px;
            justify-content: center;

            @media screen and (max-width: 850px){
            // width: 200px;
            justify-content: center;
            }
        }

        &__left-value{
            grid-column: s/m;
        }
        &__right-value{
            grid-column: m/e;
        }
    }
}

input[type="number"]{
    color: white;
    font-size: 50px;
    width: 75px;
    text-align: center;
    transform: translateY(-10px);
    border: $oceanBlue;
    background-color: transparent;
    // margin: auto;

    @media screen and (max-width: 850px){
        font-size: 25px;
        width: 50px;
    }
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

.inputButton{
    // color: white;
    background-color: transparent;
    border: none;
    // font-size: 40px;
    cursor: pointer;
    font-family: "Font Awesome\ 5 Free", "Lato", "Arial", "Helvetica", "sans-serif";
    font-weight: 600;
}

input[type="button"]{
    appearance: none;
    cursor: pointer;
}

.fa{
    font-size: 40px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                2px 2px 6px rgba(0, 0, 0, 0.8);

    @media screen and (max-width: 850px){
    font-size: 28px;
    padding: 5px;
    margin: 5px;
    }
}
    
.fa{
    &:hover{
        transition: ease-in-out .3s;
        font-size: 38px;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                    2px 2px 6px rgba(0, 0, 0, 0.8),
                    inset -2px -2px 10px rgba(255, 255, 255, 0.05),
                    inset 2px 2px 10px #00000080;
        @media screen and (max-width: 850px){
            font-size: 25px;
        }
    }
}

#decrement{
    padding: 0 0 0 25px;
    color: $neonRed;
}

#increment{
    padding: 0 25px 0 0;
    color: $neonGreen;
}

